
::placeholder {
  color: #9b0000;
}
.header {
  background-color: #464866;
}
.headerText {
  text-align: center;
  color: #ffffff;
  padding: 1%;
}
.textSignIn {
  color: #141ea6;
}
.formContainer {
  padding: 7% 0%;
}
#Form {
  width: 35%;
  background-color: #cacad2;
  padding: 1% 2%;
  border-radius: 2%;
}
.label {
  color: #ffffff;
}
.signIn {
  background-color: #aaabb8;
  width: 100%;
}
#a {
  text-decoration: none;
}
#a:hover {
  text-decoration: underline;
}
/* sideBar */
.sideBar{
  background-color:#6c5b7b; 
  height: 88vh;
}
/* blog */
.blogHeader{
  background-color: #6c5b7b;
  text-align: center;
}
.modalTitle{
  background-color: #6c5b7b;
  color:aliceblue
}
.SidebarContainer{
  height: 50%;
}
.dashboardContainer{
 
}